<div class="row">
	<div class="col-md-12">
		<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		          Mobiles
		        </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in">
		      <ul class="menu">
		      	<li><a ui-sref="gobazarlite.listing({categoryName:'mobiles'})">Mobiles</a></li>
		      	<li><a ui-sref="gobazarlite.listing({categoryName:'mobile & tablet accessories'})">Accessories</a></li>
		      	<li><a href="#">Test</a></li>
		      	<li><a href="#">Test</a></li>
		      	<li><a href="#">Test</a></li>
		      </ul>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		           Women
		        </a><i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse">
		      <ul class="menu">
		      	<li><a href="#">Test</a></li>
		      	<li><a href="#">Test</a></li>
		      	<li><a href="#">Test</a></li>
		      	<li><a href="#">Test</a></li>
		      	<li><a href="#">Test</a></li>
		      </ul>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
		          Mobile & Tablets Accessories
		        </a><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse">
		      <ul class="menu">
		      	<li><a href="#">Test</a></li>
		      	<li><a href="#">Test</a></li>
		      	<li><a href="#">Test</a></li>
		      	<li><a href="#">Test</a></li>
		      	<li><a href="#">Test</a></li>
		      </ul>
		    </div>
		  </div>
		  
		</div>
	</div>
</div>