<div class="row">

	<nav class="navbar navbar-inverse">
	              <div class="container-fluid">
	                <div class="navbar-header">
	                  <a class="navbar-brand" href="#">GoBazaar</a>
	                </div>
	                <ul class="nav navbar-nav homeNavi">
	                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Mobiles <span class="caret"></span></a>
	                  	<ul class="dropdown-menu slideDown">
	                      <li><a ng-href="/mobiles-listing/lst">Mobile Phones</a></li>
	                      <li><a ng-href="/mobiles-listing/filter/slidersalepriceperunit=5001-15000--/lst">Shop By Price</a></li>
	                      <li><a ng-href="/mobiles-listing/filter/camera_primary_megapixel=3%20-%204.9%5E--/lst">Phones by Camera</a></li>
	                      <li><a ng-href="/mobiles-listing/filter/memory_ramvariants=1%20GB--/lst">RAM Variants</a></li>
	                      <li><a ng-href="/mobiles-listing/filter/brandname=Karbonn--/lst">Brand Karbon</a></li>
	                    </ul>

	                  </li>


	                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Electronics <span class="caret"></span></a>
	                    <ul class="dropdown-menu slideDown">
	                      <li><a ng-href="/External%20H.%20D-listing/lst">Hard Disks</a></li>
	                      <li><a ng-href="/pen%20drive-listing/lst">Pen Drives</a></li>
	                      <li><a ng-href="/cases%20&%20covers-listing/lst">Cases and Covers</a></li>
	                      <li><a ng-href="/ear%20phones-listing/lst">Ear Phones</a></li>
	                    </ul>
	                  </li>
	                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Furnishing <span class="caret"></span></a>
	                  		<ul class="dropdown-menu slideDown">
		                      <li><a ng-href="/lamps%20&%20lights-listing/lst">Lamps and Lights</a></li>
		                      <li><a ng-href="/wall%20decor-listing/lst">Wall Decor</a></li>
		                      <li><a ng-href="/Religion%20&%20Spirituality-listing/lst">Religion & Sprituality</a></li>
		                      <li><a ng-href="/bed%20&%20living-listing/lst">Bed and Living</a></li>
		                    </ul>
	                  </li>
	                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Fashion <span class="caret"></span></a>
	                  		<ul class="dropdown-menu slideDown">
		                      <li><a ng-href="/men-listing/lst">Lamps and Lights</a></li>
		                      <li><a ng-href="/women-listing/lst">Wall Decor</a></li>
		                      <li><a ng-href="/kids-listing/lst">Religion & Sprituality</a></li>
		                    </ul>
	                  </li>
	                </ul>
	              </div>
	</nav>



	<!-- <div class="col-md-12">
		<div class="panel-group" id="accordion">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		          Mobiles
		        </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in">
		      <ul class="menu">
		      	<li><a ui-sref="gobazarlite.listing({categoryName:'mobiles'})">Mobiles</a></li>
		      	<li><a ui-sref="gobazarlite.listing({categoryName:'mobile & tablet accessories'})">Accessories</a></li>
		      	<li><a ui-sref="gobazarlite.listing({categoryName:'Decor'})">Decor</a></li>
		      	<li><a href="#">Test</a></li>
		      	<li><a href="#">Test</a></li>
		      </ul>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		           Women
		        </a><i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse">
		      <ul class="menu">
		      	<li><a href="#">Test</a></li>
		      	<li><a href="#">Test</a></li>
		      	<li><a href="#">Test</a></li>
		      	<li><a href="#">Test</a></li>
		      	<li><a href="#">Test</a></li>
		      </ul>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <h4 class="panel-title">
		        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
		          Mobile & Tablets Accessories
		        </a><i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse">
		      <ul class="menu">
		      	<li><a href="#">Test</a></li>
		      	<li><a href="#">Test</a></li>
		      	<li><a href="#">Test</a></li>
		      	<li><a href="#">Test</a></li>
		      	<li><a href="#">Test</a></li>
		      </ul>
		    </div>
		  </div>
		  
		</div>
	</div>
</div> -->