<div class="row" ng-controller="LoginCtrl">
	<div class="col-md-2 col-m-2 col-xs-2">
		<a href="/" class="logo">
			<img ng-src="images/logo.png"/>
		</a>
	</div>
	<div class="col-md-6 col-m-6 col-xs-6">
		<input type="text" class="search" />
		<input type="submit" value="submit"/>
	</div>
	<div class="col-md-4 col-m-4 col-xs-4">
		<div ng-show="custId">Welcome {{nameHeader}}! <a href="javascript:void(0)" ng-click="logout();">Logout</a></div>
		<div ng-hide="custId"><a href="/login">LOGIN</a></div>
		
		<span class="glyphicon glyphicon-user" ></span>
		<span>Cart {{cart.noOfProducts}}</span>
	</div>

	
</div>