<div class="container">
<div class="inventory-listing">
      <div style="text-align:center !important;"><strong>Terms and Condition of Sale</strong></div><br><br>
     
<strong>Last Updated:</strong><br><br>

Please read these conditions carefully before placing an order for any products with the Sellers<br><br>


<div style="text-align:center !important;"><strong>TERMS AND CONDITION OF SALE</strong></div><br>

These terms and condition of offer for sale (<strong>"Terms and Condition of Sale"</strong>) between Jaina Marketing and Associates owner of the website www.gobazaar.com (hereinafter referred to as "<strong>GO-BAZAAR</strong>") and the users of <strong>www.gobazaar.com</strong>  ("<strong>You</strong>" or "<strong>Your</strong>" or "<strong>Yourself</strong>" or "<strong>User</strong>") describe, inter alia, the terms and conditions of offer for sale, purchase of goods and services on <strong>www.gobazaar.com</strong>  ("<strong>Website</strong>"). 

<br><br>
ANY PURCHASE MADE BY YOU THROUGH THE WEBSITE OF PRODUCTS/ SERVICES SHALL SIGNIFY YOUR ACCEPTANCE OF THESE TERMS AND CONDITIONS OF SALE AND YOUR AGREEMENT TO BE LEGALLY BOUND BY THE SAME.
<br><br>
IN ADDITION TO THE FOREGOING, YOU SHALL ALSO BE BOUND BY THE TERMS OF USE OF THE WEBSITE, TERMS AND CONDITIONS OF SALE ISSUED BY THE VENDOR OR ADDITIONAL TERMS OF SERVICE WHICH ARE DISPLAYED WITH THE SELECTION OF THE PRODUCT, IF ANY ("ADDITIONAL TERMS") ON THE WEBSITE. IF THERE IS ANY CONFLICT BETWEEN THE TERMS AND CONDITIONS OF SALE AND THE ADDITIONAL TERMS, THE ADDITIONAL TERMS SHALL TAKE PRECEDENCE IN RELATION TO THAT SALE. 
<br><br>
          
<strong>IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS OF SALE, PLEASE DO NOT ACCESS THE WEBSITE FOR ANY PURCHASE. </strong><br>

<strong>WEBSITE</strong><br>
The Website is a platform that facilitates the online sale and purchase of merchandise and services ("Services") offered by GO-BAZAAR's various affiliates/ registered merchants/ vendors/ service providers ("Vendor(s)"). The Services are offered to the Users through various modes which shall include but not be limited to, sale of products by Vendors. The Vendors are the sellers of products and services on the Website and will be solely responsible to You for the products sold through the Website.
 <br><br>
 1.2) You acknowledge that GO-BAZAAR has the right to change or discontinue any Service at any time, without notice. You further acknowledge that GO-BAZAAR may add or modify the procedures, modes, processes or conditions of purchase at any time to adapt to changes that GO-BAZAAR may make to the Services. You agree that GO-BAZAAR shall not be liable to you or to any third party for any modification, suspension or discontinuance of any aspect of the Services.
 <br><br>
 
 
<strong>OFFER AND ACCEPTANCE</strong><br>
Your order is an offer to the Vendor to buy the product(s) that you have placed in your order. When you place an order to purchase a product on the Website, you will receive an e-mail confirming receipt of your order and containing the details of your order (the "Order Confirmation E-mail"). The Order Confirmation E-mail is acknowledgement that GO-BAZAAR has received your order, and does not confirm any kind of acceptance of your offer to buy the product(s) ordered. Your offer shall only be deemed accepted and conclude the contract of sale for a product ordered by you, when the product is dispatched to you and an e-mail confirmation is sent to you that the product has been dispatched to you (the "Dispatch Confirmation E-mail"). 
 <br><br>
If your order is dispatched in more than one package, you may receive a separate Dispatch Confirmation E-mail for each package, and each Dispatch Confirmation E-mail and corresponding dispatch will conclude a separate contract of sale between you and Vendor for the product(s) specified in that Dispatch Confirmation E-mail.
 <br><br>
Your contract is with Vendor and you confirm that the product(s) ordered by you are purchased for your internal / personal purpose and not for re-sale. You authorize GO-BAZAAR and its Vendor(s) to declare and provide declaration to any governmental authority on your behalf stating the aforesaid purpose of the products ordered by you on the website.
 <br><br>
You can cancel your order for a product at no cost any time before we send the Dispatch Confirmation E-mail relating to that product.
 <br><br>
Please note that we sell products only in quantities, which correspond to the typical needs of an average household. This applies both to the number of products ordered within a single order and the placing of several orders for the same product where the individual orders comprises a quantity typical for a normal household.
 <br><br>
 
 
<strong>PRODUCT</strong><br>

<strong>3.1)</strong> <strong>GO-BAZAAR's</strong> Vendor(s) through the Website list a variety of products and merchandise belonging to them at a price as maybe stated against such product listing on the Website. Purchase of such products will be subject to these Terms and Condition of Sale and such other Additional Terms, if any, as specified by the Vendor.
<br><br>
<strong>3.2)</strong> Shipping for all the products listed on the Website is offered by Vendor(s) as per the GO-BAZAARS's policy, which may be changed by GO-BAZAAR without any notice to You. Octroi charges, wherever applicable, shall be borne and paid by Vendor and shall not be borne by User.
<br><br>
<strong>3.3)</strong> All Products are governed by the terms of warranties provided by the respective manufacturer/ brands. However, in case any product is covered under seller warranty provided by the Vendor(s), the same shall be specifically mentioned along with the product details.
<br><br>
<strong>3.4)</strong> In the event You purchase any electronic product/s from the Vendors, GO-BAZAAR shall not be liable for any fault arising from these electronic product/s. You are requested to visit the nearest service center as per product user manual, if any or as indicated by the Vendor/s for any default in the electronic products. For the clarification of all doubt, GO-BAZAAR shall not be liable for any loss/damage caused due to any incidental damage/loss that may occur from a faulty product purchased through the Website and its shall be the manufacturer and if specifically provided in the Additional Terms the Vendor, who shall be responsible for the same.
<br><br>

 
 
 <strong>GO-BAZAAR SERVICES</strong>
<br><br>
<strong>4.1)</strong> User understands and confirms that it alone shall be responsible with respect to any action taken by it/him/her in utilizing GO-BAZAAR services and GO-BAZAAR shall not be liable for any such action.
<br><br>
<strong>4.2)</strong> Website is available only to persons who can form a legally binding contract under the Indian Contract Act, 1872. If you are a minor i.e. under the age of 18 years, you may purchase only with the involvement of a parent or guardian. User represents that it/her/him is of legal age to form a binding contract with GO-BAZAAR and is not a person barred from receiving services under the laws as applicable in India.
<br><br>
<strong>4.3)</strong> Further, User hereby confirms that for any deficiency in payment of consideration payable towards the services purchased from the Website, GO-BAZAAR shall not be responsible and/or liable in any manner.
<br><br>
<strong>4.4)</strong> No refunds against any products purchased from the Website are offered by GO-BAZAAR, unless, an error has occurred during the purchase of products for which GO-BAZAAR is directly and solely liable.
<br><br>
 
<strong>PRICING AND AVAIABILITY</strong><br><br>
All prices are listed in Indian Rupees. "Price", as displayed, are inclusive of all taxes at the appropriate rate. Items in your order cart will always reflect the most recent price displayed on the item's product detail page. Please note that this price may differ from the price shown for the item when you first placed it in your cart. Placing an item in your cart does not reserve the price shown at that time. It is also possible that an item's price may decrease/increase between the time you place it in your basket and the time you purchase it.
<br><br>

Further, though GO-BAZAAR shall on a best effort basis provide accurate products, services and pricing information, typographical and other errors may occur. In the event that a product is listed at an incorrect price or with incorrect information due to an error in pricing or product or service information, GO-BAZAAR may, at its discretion, either contact User for instructions or cancel such order of the User and notify User of such cancellation. GO-BAZAAR will have the right to modify the price of the product or service and contact User for further instructions via e-mail address provided by User at the time of registration, or cancel the order and notify User of such cancellation. If GO-BAZAAR cancels Your order after the payment has been processed, the said amount will be remitted back to Your account from which the payment was made.
<br><br>

The price of products offered on the Website is either equal to or lesser than the Maximum Retail Price ("<strong>MRP</strong>") i.e., the discounted rate prescribed for those products. The MRP and other statutory declarations shall be mentioned on the products and/or on its packaging in accordance with applicable laws.
<br><br>

The MRP displayed for products on the Website represents the full retail price listed on the product itself as shared by manufacturers, distributors or Vendor(s). While GO-BAZAAR attempts to ensure that this information is accurate, there may be cases where MRP of the product delivered is different from the MRP given on the Website due to various reasons including time lag in updating prices post changes in MRP, product belonging to a different batch or different MRP's being used by manufacturers in different regions.
<br><br>

GO-BAZAAR does not guarantee that the price quoted on its Website for a product will be the lowest in the city, region or geography. Prices and availability are subject to change without notice or any consequential liability to User.

<br><br>
Information with respect to the availability of products sold on the Website shall be provided on each product information page. Please note that dispatch estimates are estimated times within, which we shall endeavor to ensure that the Vendor(s) dispatch the products to You. These are not guaranteed dispatch times and should not be relied upon as such. As your order is processed, you will be informed by e-mail if any products you order, turns out to be unavailable.
<br><br>

All prices quoted on the Website are inclusive of VAT unless stated otherwise.
<br><br>

You shall be responsible for payment of all fees/costs/charges associated with the purchase of products through the Website and User hereby agrees to bear any and all applicable taxes/VAT, cesses etc. levied thereon.

 <br><br>
 
 
 <strong>DEBIT CARD/CREDIT CARD/ONLINE PAYMENT INFORMATION</strong><br><br>
 
In certain cases, specifically with regard to particular products/ services, GO-BAZAAR may require the User to provide its/her/his credit or debit card details and/or online payment details (including but not limited to bank account information) to the approved payment gateways while making a payment.
While providing such details User undertakes to provide correct and accurate credit card / debit card/bank details to the approved payment gateways for purchasing products on the Website. User shall only use its/her/his own credit card issued by the concerned financial institution/bank it's the User's name and at no time use a credit/ debit card which is not lawfully owned by it/him/her. GO-BAZAAR may share all such information provided as may be required in relation to fraud verifications or by law, regulation or court order. User shall solely be responsible for the security and confidentiality of its/her/his credit/ debit card details. GO-BAZAAR expressly disclaims all liabilities that may arise as a consequence of any unauthorized use of User's credit card/ debit card/online payment information. 

 <br><br>
 
 <strong>RETURN POLICY OF PRODUCTS</strong><br><br>

In the event You receive a damaged / defective product or a product that does not comply with the specifications as per your original order, You are required to get in touch with the GO-BAZAAR customer service department through any of the below mentioned channels:
<br><br>
<strong>a.</strong> GO-BAZAAR Customer Service at [<strong>.</strong>];<br>
<strong>b.</strong> Filling up the [CONTACT US LINK] form;<br>



Before you place an order for a Product through the Website, You shall have read GO-BAZAAR's policy on Return of Products [RETURN POLICY] and if the products purchased can be returned or not. If an item isn't returnable as per GO-BAZAAR return policy, you may read the same [NON-RETURNABLE ITEMS].
<br><br>

<strong>GO-BAZAAR </strong>shall verify all complaints and the authenticity of the same. On being 100% satisfied with the claim being genuine, GO-BAZAAR shall forward the complaint to the Vendor and request for a replacement or repair (as deemed fit by GO-BAZAAR). Though should GO-BAZAAR decipher that the complaints are baseless and frivolous, GO-BAZAAR reserves the right to take necessary legal actions against You and You will be solely liable for all costs incurred by GO-BAZAAR in this regard. You expressly acknowledge that the Vendor 
ing the defective product/ service will be solely responsible to You for any claims that You may have in relation to such defective product/ service and GO-BAZAAR shall not in any manner be held liable for the same.
<br><br>


Before accepting shipment of any product, kindly ensure that the product's packaging is not damaged or tampered. If You observe that the package is damaged or tampered, GO-BAZAAR requests You to refuse to accept delivery and immediately inform GO-BAZAAR of the same. The return process of the product may be restricted by GO-BAZAAR depending on the nature and category of the product.
<br>
<br>

<strong>In order to return any products sold through the Website, You are required to comply with the below mentioned conditions, viz:</strong>
<br>

<strong>a). </strong> Incase of damaged/ defective product/service notify GO-BAZAAR within 48-hours of delivery to You of such damaged/ defective product/service. After the expiry of the said 48 hour period GO-BAZAAR shall not be held liable for the failure to facilitate the replacement of the concerned order;
<br><br>
<strong>b). </strong> Products should be unused;<br><br>
<strong>c). </strong> Products should be returned in their original packaging along with the original price tags, labels, barcodes, user manual, warranty card and invoices etc.;
<br><br>
<strong>d). </strong> The return packets should be strongly and adequately packaged so that there is no further damage of products during transit;
<br><br>
 Please Note that, the returned products are subject to verification and checks by GO-BAZAAR in order to determine the legitimacy of the complaint/ return.

<strong>GO-BAZAAR</strong> will arrange pick-up of the damaged/defective product through its own logistics partner. In the event GO-BAZAAR is unable to do so, GO-BAZAAR will notify You regarding the same and You will be required to dispatch the product using a reputed courier in Your respective area within one (1) day from receipt of such notice. Reasonable courier charges will be reimbursed on actual basis by <strong>GO-BAZAAR</strong>;
<br><br>

Where the return is acceptable by GO-BAZAAR, You shall only be entitled to the maximum of the value of such product, as originally paid by You during acceptance of delivery of product or otherwise and the same will be refunded to You. 
<br><br>
Refunds if acceptable, will be processed based on the mode of payment used by You and GO-BAZAAR or the approved payment gateway shall reverse your payment and credit Your refund directly into Your debit/credit card or online accounts or provide You with a cheque in this regard. Refunds will be subject to the following:
<br><br>


<strong>a.</strong> Orders paid online will be refunded within [<strong>.</strong>] - [<strong>.</strong>] business days through the online account or via cheque, as may be decided by GO-BAZAAR;<br>
<strong>b.</strong> For Cash on Delivery payments, You will be provided with a bank cheque for the refund amount.<br>
<strong>c.</strong> If the product can be repaired by the service centre, GO-BAZAAR would get the same repaired and send it back to You.<br><br>

<strong>CANCELLATION OF ORDERS</strong><br>
    
Subject to refunding any payments that have been processed, Go-Bazaar  may cancel an order placed by a User at any time.
<br><br>
In case of requests for order cancellations, GO-BAZAAR reserves the right to accept or reject requests for order cancellations for any reason whatsoever. As part of usual business practice, if GO-BAZAAR receives a cancellation notice and the order has not been approved/dispatched by GO-BAZAAR and/or Vendor (as maybe applicable), GO-BAZAAR shall cancel the order and refund the entire amount to You within a reasonable period of time. GO-BAZAAR will not be able to cancel orders for which dispatch confirmation has been sent to you. GO-BAZAAR has the full right to decide whether an order has been disptached or not. You agree not to dispute the decision made by GO-BAZAAR and accept GO-BAZAAR's decision regarding the cancellation.
<br><br>

<strong>INDEMINIFICATION AND LIMITATION OF LIABILITY</strong><br><br>
<strong>a).</strong> User agrees to indemnify, defend and hold harmless GO-BAZAAR from and against any and all losses, liabilities, claims, damages, demands, costs and expenses (including legal fees and disbursements in connection therewith and interest chargeable thereon) asserted against or incurred by GO-BAZAAR that arise out of, result from, or may be payable by virtue of, any breach of any representation, warranty, covenant or agreement made or obligation to be performed by You pursuant to these Terms and Conditions of Sale or any Additional Terms applicable to the purchase of products and services on the Website.
<br><br>
<strong>b).</strong> In no event shall <strong>GO-BAZAAR</strong>, its officers, directors, employees, partners or vendors be liable to You, the Vendor or any third party for any special, incidental, indirect, consequential or punitive damages whatsoever, including those resulting from loss of use, data or profits, whether or not foreseeable or whether or not GO-BAZAAR has been advised of the possibility of such damages, or based on any theory of liability, including breach of contract or warranty, negligence or other tortious action, or any other claim arising out of or in connection with Your purchase of the products and services herein. Notwithstanding anything to contrary, <strong>GO-BAZAAR's</strong> maximum liability to You under these Terms and Conditions of Sale or otherwise shall be the refund of the money charged from You for any specific product or service, under which the unlikely liability arises.
<br><br>
<strong>c).</strong> <strong>GO-BAZAAR</strong> shall not be liable for the non-availability of the product, delivery of the product and the installation of the product.
<br><br>
<strong>d).</strong> We will not be responsible for any business loss (including loss of profits, revenue, contracts, anticipated savings, data, goodwill or wasted expenditure) or any other indirect or consequential loss that is not reasonably foreseeable to both you and GO-BAZAAR when a contract for the sale of goods by Vendor to you was formed. 
<br><br>
GO-BAZAAR DOES NOT CONTROL, ENDORSE OR ACCEPT RESPONSIBILITY FOR ANY PRODUCT (INCLUDING BUT NOT LIMITED TO PRODUCT CATALOGUES) OR SERVICES OFFERED BY THIRD PARTIES ACCESSIBLE THROUGH THE WEBSITE OR ANY LINKED SITES. GO-BAZAAR MAKES NO REPRESENTATIONS OR WARRANTIES WHATSOEVER ABOUT, AND SHALL NOT BE LIABLE FOR, THE VENDOR OR ANY SUCH THIRD PARTIES, THEIR PRODUCTS OR SERVICES, INCLUDING REPRESENTATIONS RELATING TO NON-INFRINGEMENT OF THIRD PARTY INTELLECTUAL PROPERTY RIGHTS. ANY TRANSACTIONS THAT YOU MAY HAVE WITH SUCH THIRD PARTIES ARE AT YOUR OWN RISK. THE PRODUCTS SHALL BE SUBJECT TO VENDOR'S TERMS AND CONDITIONS FOR WARRANTY, SERVICE AND MAINTENANCE, AND GO-BAZAAR DOES NOT ACCEPT ANY RESPONSIBILITY FOR THE SAME. GO-BAZAAR ALSO DOES NOT ACCEPT ANY RESPONSIBILITY FOR THE USAGE OF THE PRODUCTS BY YOU.
<br><br>
GO-BAZAAR SPECIFICALLY DISCLAIMS ANY LIABILITY WITH REGARD TO ANY DEFECTIVE OR COUNTERFEIT PRODUCTS PURCHASED OR SERVICE AVAILED BY YOU FROM THE VENDOR AND GO-BAZAAR SHALL NOT ASSUME ANY LIABILITY IF THE PRODUCT PURCHASED OR SERVICE AVAILED BY YOU FROM THE VENDOR IS NOT EXACTLY AS PER SPECIFICATIONS DETAILED IN THE PURCHASE CONFIRMATION ORDER.
<br><br>
<strong>COMMUNICATIONS </strong><br><br>
When You send e-mails to us, you are communicating with us electronically. You will be required to provide a valid phone number while placing an order with us. We may communicate with you by e-mail, SMS, phone call or by posting notices on the website or by any other mode of communication. For contractual purposes, you consent to receive communications including SMS, e-mails or phone calls from us with respect to your order.
<br><br>




<strong>Assignment</strong>
<strong>a.)</strong> The rights and obligations  under  these Terms and Conditions of Sale  shall  not  be  assigned  or transferred by You to any third party whomsoever.
<br><br>
<strong>b.</strong> GO-BAZAAR shall be entitled to transfer or assign any or all of its rights and obligations under these Terms and Conditions of Sale  to  a  third  party  without  any  prior  written notification to You.
<br><br>




<strong>ALTERATION OR AMENDMENTS TO THE CONDITIONS</strong> <br><br>

<strong>GO-BAZAAR</strong> reserves the right to make changes to its policies, and these Terms and Conditions of Sale at any time. You will be subject to the policies and Terms and Conditions of Sale in force at the time you order goods from us, unless any change to those policies or these conditions is required to be made by law or government authority (in which case it will apply to orders previously placed by you). If any of these conditions is deemed invalid, void, or for any reason unenforceable, that condition will be deemed severable and will not affect the validity and enforceability of any remaining condition. 
<br><br>


<strong>EVENTS BEYOND OUR REASONABLE CONTROL</strong> <br><br>
<strong>GO-BAZAAR</strong> will not be held responsible for any delay or failure to comply with its obligations under these conditions if the delay or failure arises from any cause which is beyond GO-BAZAAR's reasonable control. This condition does not affect User's statutory rights. ?
<br><br>


<strong>WAIVER</strong><br><br> 
If You breach these conditions and <strong>GO-BAZAAR</strong> takes no action in one instance, GO-BAZAAR will still be entitled to use its rights and remedies in any other situation where you breach these conditions.<br><br>




<strong>GOVERNING LAW</strong><br>
<strong>a). </strong> These Terms and Conditions of Sale and the relationship between User and GO-BAZAAR shall be governed in accordance with the laws of India without reference to conflict of laws principles.
<br><br>
<strong>b). </strong>You agree that all claims, differences and disputes arising under or in connection with or in relation to the Terms and Conditions of Sale or any transactions entered into on or through the Website or the relationship between User and GO-BAZAAR shall be subject to the exclusive jurisdiction of the courts at New Delhi and User hereby accedes to and accepts the jurisdiction of such courts.
<br><br>
<strong>ALL LINKED TERMS AND CONDITIONS HEREUNDER ARE ASSUMED TO BE READ, UNDERSTOOD AND AGREED BY YOU.</strong>
     <br> <br>
     <div style="text-align:center;" class="ng-scope">
                <button type="button" class="btn btn-primary" ng-click="returnFromTermsAndCondition(1)">Accept</button>
                <button type="button" class="btn btn-danger" ng-click="returnFromTermsAndCondition(2)">Reject</button>
    </div>  
    </div>

</div>